EXPO_PUBLIC_SUPABASE_URL=https://sjzrenseksedyubcyxhz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
EXPO_PUBLIC_MAPBOX_TOKEN=pk.your_mapbox_public_token_here
MAPBOX_DOWNLOADS_TOKEN=sk.your_mapbox_downloads_token_here
